:root {
    --primary-color: rgb(100, 100, 100);
    --secondary-color: rgb(0,0,0);
    --tertiary-color: rgb(255,255,255);
}

header {
    border-radius: 10px;
}

header nav {
    background-color: var(--primary-color);
    border-radius: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--tertiary-color);
}

footer {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.about_me{
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 15px 0px;
    line-height: 3px;
}

.img-selfie {
    width: 200px;
}

.img-runbuddy,
.img-fanpage {
    width: 800px;
}



.nav_links {
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: x-large;
    color: var(--tertiary-color);
    text-decoration: none;
}

.title_1 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

}

.title_2 {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 15px 0px;
    border-radius: 10px;

}

.img-selfie {
    position: center;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 24px;
    font-style: normal;
}

.past_projects {
    display: flex;
    flex-wrap: flex;
    flex-direction: row;
    position: relative;
}

.image {
    display: block;
    width: auto;
    height: auto;
}

.image:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    opacity: .51;
    
}

@media  screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        background-color: var(--primary-color);
    }

    header h1 {
        width: 100%;
        text-align: left;
        color: var(--tertiary-color);
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 35px;
        color: var(--tertiary-color);
    }

    footer {
        color: var(--tertiary-color);
    }

    footer a {
        color: var(--tertiary-color);
        font-size: 40px;
    }

    .about_me {
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .contact-info address{
        font-size: 40px;   
        color: var(--tertiary-color);
    }



    p {
        font-size: x-large;
    }

    h2{
        font-size: 40px;
    }
}

@media  screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}