:root {
    --primary-color: rgb(100, 100, 100);
    --secondary-color: rgb(0,0,0);
    --tertiary-color: rgb(255,255,255);
}


header nav {
    background-color: var(--primary-color);
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--tertiary-color);
}

.about_me{
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
}

.img-selfie {
    width: 200px;
}

.img-runbuddy,
.img-fanpage {
    width: 800px;
}



.nav_links {
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: x-large;
    color: var(--tertiary-color);
    text-decoration: none;
}

.title_1 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

}

.title_2 {
    display: flex;
    justify-content: center;

}

.img-selfie {
    position: center;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 24px;
    font-style: normal;
}

.past_projects {
    display: flex;
    flex-wrap: flex;
    flex-direction: row;
    position: relative;
}

.image {
    display: block;
    width: auto;
    height: auto;
}

.image:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    opacity: .51;
    
}